<div class="row mt-8">
  <div class="col-md-8">
    <%= link_to 'Matiere', new_level_path, class: 'btn btn-primary' %>
      <br><br>
      <%= link_to 'Voir matieres', levels_path, class: 'btn btn-primary' %>
    <br><br>

    <%= link_to 'Promotion', new_level_path, class: 'btn btn-primary' %>
      <br><br>
      <%= link_to 'Voir Promotion', levels_path, class: 'btn btn-primary' %>
    <br><br>
  </div>
</div>
