<!-- Comments Form -->
<%= bootstrap_form_for([@course, @course.comments.build], remote: true) do |f| %>


  <div class="input-form">
    <%= f.text_area :content, required: false,
                label: 'Direct Message:',
                 placeholder:'Texte ici...',
                 id:'DirectMessageField' %>
  </div>

  <button type="submit" class="btn btn-primary">
    <i class="fa fa-location-arrow" aria-hidden="true"></i> Envoyez
  </button>
<% end %>
