
<!-- boucle for matiere items/!-->
<div class="container-fluid">
  <!-- Icon/!-->
  <span class="fil-icon bg-red-600">
    <i class="fa fa-newspaper-o mr-1"></i> Fil Matières
  </span>
  <ul class="leading-relaxed pt-2">
    <% @matieres.each do |m| %>
     <li class="text-lg font-bold hover:no-underline"> <%= link_to m.title, m %></li>
    <% end %>
  </ul>
  <!-- visible sur mobile uniquement/!-->
  <select>
    <option selected="selected">Choisir une matiere</option>
    <!-- refactoriser pas bon/!-->
      <% @matieres.each do |m| %>
        <option>
          <%= link_to m.title, m, class: 'text-decoration-none font-weight-bold' %>
        </option>
      <% end %>
    </select>
</div>

