<!-- formulalire avec les informations/!-->
<!-- email de recrutement:
  prof: prof.chatln@gmail.com et le email du manager
  Manager.chatln@gmail.com/!-->
<div class="card">
<p>Business is not life. Business is the essence of our life, but is often conducted out of our social benevolence sphere, for the sake of providing value. A good analogy would be that business is a different planet with different gravity. An entrepreneur will eventually understand everything that is taught at MBA school. But if you teach them too early, nothing will sink in.</p>
</div>
