
<div class="row">
  <div class="col-12 col-md-8 col-lg-8 mx-auto">
    <h1 class="text-center mb-4 font-bold text-3xl"> Créer une Annonce de Recrutement</h1>
    <%= render 'form', recrutement: @recrutement %>
  </div>
</div>
