
<div class="row">
  <div class="col-12 col-md-8 col-lg-8 mx-auto">
    <h1 class="text-center mb-4 font-bold text-3xl"> Publié un livre</h1>
    <%= render 'form', book: @book %>
  </div>
</div>
<!--
Interagissez avec le contenu
Surlignez d'un geste les passages que vous aimez, ajoutez des emojis pour réagir à ce que vous lisez et ajoutez des notes pour partager vos réflexions avec d'autres lecteurs.

</!-->
