<div class="card">
  <div class="card-header">
    <p>Merci pour votre candidature <%= job_posts.nom_complet %></p>
  </div>
  <div class="card-body">
    <p>nsion réaliste de ce que le poste implique. Cela garantit une meilleure retraite</p>
  </div>
</div>h
