<div class="row">
  <div class="col-10 col-md-2 col-lg-2">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-10 col-md-8 col-lg-8">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Bienvenu(e) sur CHATLN GROUPE D'ETUDE.
      </h4>

      <p>
       Nous avons créer cette plateforme pour aider chaque élèves à étudier facilement avec ses ami(e)s ou leur professeur.
      </p>

      <hr />

      <p>
        Vous pouvez créer un groupe d'étude puis démander a vos ami(e)s de vous réjoindre ou rejoingnez un autre groupe étude.
      </p>
    </div>
  </div>
</div>


