<%= bootstrap_form_for(@level) do |f| %>
<div class="input_form">
  <%= f.text_field :title, hide_label: true,  placeholder: 'Ajouter une Promotion' %>
</div>

<%= f.submit 'Ajouter', class: 'btn btn-success' %>
<% end %>
