<% content_for @title=@level.title %>


  <div class="content">
    <h1 class="title ml-20"><%= @level.title %></h1>
    <hr>


<hr />
<div class="container">
  <div class="col-12 col-md-8 ml-12">
    <%= render 'shared/feed/course/feed_course' %>
  </div>
</div>
