<% if status_user(current_user) %>
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 mx-auto">
        <h1 class="text-center mb-4 font-bold text-3xl">Créer un Renforcément:</h1>
        <div class="mx-auto">
          <%= render 'form', course: @course %>
        </div>

      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col-12 col-md-8 col-lg-8 mx-auto">
        <h1 class="text-center mb-4 font-bold text-3xl">Ajouter un Sujet:</h1>
        <div class="mx-auto">
          <%= render 'form', course: @course %>
        </div>
      </div>
    </div>
<% end %>
