<% content_for @title=@matiere.title %>


  <div class="content">
    <h1 class="title ml-20"><%= @matiere.title %></h1>
  </div>
  <hr><hr />
  <div class="col-12 col-md-8">
    <%= render 'shared/feed/course/feed_course' %>
  </div>
